@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-size: 36px;
}

.btn {
    border-width: medium;
    padding: 10%;
    float: left;
    outline: black;
    border-radius: 10%;
}

.btn-blue {
    @apply
    bg-blue-500
    text-black
    hover:bg-green-600;
}

.btn-red {
    @apply
    bg-red-500
    text-white
    hover:bg-black;
}
