@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-size: 36px;
}

h2 {
    @apply font-semibold mt-6 mb-2;
    font-size: 48px;
}

a {
    @apply text-blue-700 hover:underline;
}

.btn-blue {
    @apply
    bg-blue-500
    text-black
    hover:bg-green-600
    border-black
    font-bold;
    border-radius: 15vw;
    border-width: medium;
    padding: 10px;
    float: left;
    outline: black;
}

.btn-red {
    @apply
    bg-red-500
    text-white
    hover:bg-black
    font-bold
    border-black;
    border-radius: 15vw;
    border-width: medium;
    padding: 10px;
    float: left;
    outline: black;
}
